/* Basic styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #84fab0, #8fd3f4);
    animation: gradientAnimation 5s ease infinite;
}
h1{
    z-index: 100; /*to move something infront of another thing*/
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.cta-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #2cdfd9;
    color: #fff;
    animation: pulse 1.5s infinite;
    transition: transform 0.3s;
}

.cta-button:hover {
    transform: scale(1.1);
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

/* Navbar */
.navbar ul {
    display: flex;
    list-style: none;
    background-color: #2cdfd9;
    padding: 10px;
}

.navbar ul li {
    margin: 0 15px;
    transition: transform 0.3s;
}

.navbar ul li:hover {
    transform: scale(1.1);
}

/* Loading Spinner */
.loading-spinner {
    width: 20px;
    height: 20px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2cdfd9;
    border-radius: 2%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: rotate; 

}
.loading-spinner img{ 
    width: 20px;
    height: 20px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2cdfd9;
    border-radius: 2%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 100s;


}
@keyframes rotate{
    100%{transform :rotatez(360deg)}
}

@keyframes slideLeft{
    from{transform: (300%)}
}

@keyframes slideRight{
    from{transform: (300%)}
}

@keyframes sllideUp{
    from{transform: (300%)}
}

.product-card img{

    width: 200px;
    height: 200px;
}