/* Basic styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

/* Hero Section */
.hero{
   background: linear-gradient(45deg,#2980b9,#2cdfd9);
    height: 80vh;
    display: flex;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    background-color: linear-gradient(334deg , #2980b9 , #3498db);
    animation: backgroundAnimation 03s infinite alternate ;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

@keyframes backgroundAnimation{
    50%{background: linear-gradient(45deg, #2980b9,#3498db);}
    50%{background: linear-gradient(45deg,#3498db,#3498db)}
}

h1{
    z-index: 100; /*to move something infront of another thing*/
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.cta-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #2cdfd9;
    color: #fff;
    animation: pulse 1.5s infinite;
    transition: transform 0.3s;
}

.cta-button:hover {
    transform: scale(1.1);
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

/* Navbar */
.navbar ul {
    display: flex;
    list-style: none;
    background-color: #2cdfd9;
    padding: 10px;
}

.navbar ul li {
    margin: 0 15px;
    transition: transform 0.3s;
}

.navbar ul li:hover {
    transform: scale(1.1);
}

/* Loading Spinner */
.loading-spinner {
    width: 20px;
    height: 20px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2cdfd9;
    border-radius: 2%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: rotate; 

}
.loading-spinner img{ 
    width: 20px;
    height: 20px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2cdfd9;
    border-radius: 2%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 100s;


}
@keyframes rotate{
    100%{transform :rotatez(360deg)}
}

@keyframes slideLeft{
    from{transform: (300%)}
}

@keyframes slideRight{
    from{transform: (300%)}
}

@keyframes sllideUp{
    from{transform: (300%)}
}

.product-card img{

    width: 200px;
    height: 200px;
}


.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition */
  }
  
  .cta-button:hover {
    background-color: #2980b9; /* Color changes on hover */
  }

 
  
  .product-card:hover {
    width: 220px;
    height: 270px;
  }


  .img-placeholder{
    width: 200px;
    height: 200px;
    background-color: #2980b9;
  }
    